{% extends "base.html" %}

{% block title %}Establishments{% endblock title %}

{% block rest_body %}
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Establishment</th>
      <th scope="col">Category</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
  {% for place in ESTABLISHMENTS %}
    <tr>
      <th scope="row">{{ place.name }}</th>
      <td>{{ place.category }}</td>
      <td>{{ place.address }}</td>
      <td>{{ place.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock rest_body %}