{% extends "base.html" %}

{% block title %}Establishments{% endblock title %}

{% block rest_body %}
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Establishment</th>
      <th scope="col">Address</th>
      <th scope="col">Average bill</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
  {% for key, value in ESTABLISHMENTS.items %}
    <tr>
      <th scope="row">{{ key }}</th>
      <td>{{ value.0 }}</td>
      <td>{{ value.1 }}</td>
      <td>{{ value.2 }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock rest_body %}