{% extends "base.html" %}

{% block title %}Main{% endblock title %}

{% block rest_body %}
<div class="card" style="width: 38rem;">
  <div class="card-body">
    <h5 class="card-title">WELCOME TO FRIENDER APP!</h5>
    <h6 class="card-subtitle mb-2 text-muted">APP's purposes and main functions</h6>
    <p class="card-text text-success">This APP was created for ...</p>
      <p class="card-text text-success">Main functions of this APP are ...</p>
      <p class="card-text text-success">Lets see this APP hosts and guests ...</p>
    <a href="{% url 'hosts' %}" class="card-link">See our hosts</a>
    <a href="{% url 'guests' %}" class="card-link">See our guests</a>
  </div>
</div>
{% endblock rest_body %}